<h2>新規登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "menbers/shared/error_messages", resource: resource %>

  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div>
          <p>
            登録前にお読みいただいて、<%= link_to "利用規約、プライバシーポリシー", home_about_path %>に同意します</br>
            <%= f.check_box :agreement, :as => :boolean, checked:false %> クリックしてチェックマークをいれてください <%# check済み=boolean(true), check未完=false %>
          </p>
        </div>
        <table>
          <thead>
            <tr>
              <th>名前</th>
              <th><%= f.text_field :name, nameautofocus: true, autocomplete: "name" %></th>
              <%# nameautofocusでデータを挿入後次の項目に移動、autocompleteで検索時に名前変換してくれる%>
            </tr>
            <tr>
              <th>メールアドレス</th>
              <th><%= f.text_field :email, autocomplete: "email" %></th>
            </tr>
            <tr>
              <th>電話番号(ハイフンなし)</th>
              <th><%= f.text_field :telephone_number, autocomplete: "telephone_number" %></th>
            </tr>
            <tr>
              <th>郵便番号(ハイフンなし)〒</th>
              <th><%= f.text_field :postal_code, autocomplete: "postal_code" %></th>
            </tr>
            <tr>
              <th>住所</th>
              <th><%= f.text_field :address, autocomplete: "adderess" %></th>
            </tr>
            <tr>
              <th>
                パスワード
                <em>(<%= @minimum_password_length %> 文字以上)</em>
              </th>
              <th>
                <% if @minimum_password_length %>
                <% end %><br />
                <%= f.password_field :password, autocomplete: "new-password" %>
              </th>
            </tr>
            <tr>
              <th>パスワード(確認用)</th>
              <th><%= f.text_field :password_confirmation, autocomplete: "new-password" %></th>
            </tr>
          </thead>
        </table>
        <span>
          <%= f.submit "新規登録", class: "btn btn-large btn-success" %>  <%# btn btn-large => ボタンのスタイル, btn-primary => ボタンの色　%>
        </span>
      </div>
    </div>
  </div>
<% end %>
<h6 class = "title">既に登録済みの方</h6>
<p><%= link_to 'こちら', menber_session_path %>からログインしてください</p>

