<h2 class="title">ログイン</h2>
<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <table>
          <thead>
            <tr>
              <th>メールアドレス</th>
              <th><%= f.text_field :email, nameautofocus: true, autocomplete: "email" %> </th>
            </tr>
            <tr>
              <th>パスワード</th>
              <th> <%= f.password_field :password, autocomplete: "current-password" %></th>
            </tr>
            <tr>
              <th><%= link_to 'パスワードを忘れた方はこちらをクリックしてください', new_menber_password_path %></th>
            </tr>
          </thead>
        </table>
        <div class="actions">
          <%= f.submit "ログイン" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="before_sign">
  <h6>会員登録がお済みでない方</h6>
  <span><%= link_to 'こちら', new_menber_registration_path %>から新規登録を行ってください</span>
|</div>