<h2>マイページ</h2>
  <div class="container">
    <div class="row">
      <div class="col_lg_7">
        <table>
          <thead>
            <tr>
              <th>アイコン</th>
              <th><%= attachment_image_tag @menber, :image, :fill, 100, 100 %></th>
            </tr>
            <tr>
              <th>ニックネーム</th>
              <th><%= @menber.name %></th>
            </tr>
            <tr>
              <th>紹介文</th>
              <th><%= @menber.introduction %></th>
            </tr>
          </thead>
        </table>
        <p><%= link_to "個人設定", edit_menber_path(current_menber) %></p>
      </div>
    </div>
    <div class="row">
      <% if @posts.present? %>
        <% @posts.each do |post| %>
          <% if post.post_images.exists? %>
          <%# exists? 存在するかどうかを真偽値で返すメソッド(存在すればtrueを存在しなければfalse)%>
            <% post_image = post.post_images.first %>
            <div class="col-12-flex flex-lg-wrap">  <%# この部分を　col-4~ にして画像をcolにあてはめたい　%>
              <%= link_to post_path(post_image), class: 'list-content' do %>
                <p><%= attachment_image_tag post_image, :image, :fill, 200, 200, fallback:'no_image.jpeg', size: "150x150" %></p>
              <% end %>
            </div>
          <% end %>
        <% end %>
      <% else%>
        <h4>投稿履歴なし</h4>
      <% end %>
    </div>
  </div>
    <!--<div class ="row">-->
     <%#= link_to edit_user_path(user.id), class: 'btn btn-outline-secondary btn-block' do %>
    <!--    <i class="fas fa-user-cog"></i>-->
    <!--  <%# end %>-->
    <!--</div>-->
    <!--<h2>New book</h2>-->
    <!--<%#= form_with model: book, local: true do |f| %>-->
    <!--  <div class ="form-group">-->
    <!--    <label for="book_title">Title</label>-->
    <!--    <%#= f.text_field :title %>-->
    <!--  </div>-->
    <!--  <div class ="form-group">-->
    <!--    <level for="book-opinion">Opinion</level>-->
    <!--    <%#= f.text_area :body %>-->
    <!--  </div>-->
    <!--  <div class ="form-group">-->
    <!--    <%#= f.submit 'Create Book', class: 'btn btn-success'  %>-->
    <!--  </div>-->
    <!--<%# end %>-->