<div class="row">
  <div class="col-4">
    <% if menber.present? %>
      <%= link_to(home_search_menber_path(word: params[:word]), class: 'list-content') do %>
        <h5>会員検索ヒット数</h5>
        <%= menber.count %>件
      <% end %>
    <% else %>
      <h5>会員検索ヒット数</h5>
      <h5>検索一致がありません</h5>
    <% end %>
  </div>
  <div class="col-4">
    <% if post.present? %>
      <%= link_to(home_search_post_path(word: params[:word]), class: 'list-content') do %>
        <h5>投稿検索ヒット数</h5>
        <%= post.count %>件
      <% end %>
    <% else %>
      <h5>投稿検索ヒット数</h5>
      <h5>検索一致がありません</h5>
    <% end %>
  </div>
  <div class="col-4">
    <% if tag.present? %>
      <%= link_to(home_search_tag_path(word: params[:word]), class: 'list-content') do %>
        <h5>タグ検索ヒット数</h5>
        <%= tag.posts.count %>件
      <% end %>
    <% else %>
      <h5>タグ検索ヒット数</h5>
      <h5>検索一致がありません</h5>
    <% end %>
  </div>
</div>